<!-- welcome -->
<div class="row">
  <div class="col s12">
    <h4 data-mboxname="homePageHero" mbox>Hey Mango Lovers</h4>
  </div>
</div>

<!-- slider -->
<div class="row">
  <div class="col s12 l12 m12">
    <div class="slider" slider>
      <ul class="slides" ng-controller="homeSliderCtrl">
        <li ng-repeat="item in items">
          <img ng-src="{{item.path}}">
          <div class="caption center-align">
            <h3>{{item.description}}</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- button -->
<div class="container center">
  <a class="waves-effect waves-teal btn orange darken-3" href="#products">
    <i class="mdi-action-shopping-cart left"></i>Start shopping
  </a>
</div>
