<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>at.js examples | Adobe Target</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../../../assets/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../assets/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../assets/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../assets/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../assets/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../assets/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../assets/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../assets/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../assets/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../assets/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/icon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="../../fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../materialize/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../common-js/page-params.js"></script>
    <script src="../../jquery/jquery.min.js"></script>
    <script src="../../angular/angular.min.js"></script>
    <script src="../../angular-route/angular-route.min.js"></script>
    <script src="../../materialize/materialize.min.js"></script>
    <script src="../../at-js/mangoapp.at.0.9.1.min.js"></script>
    <script src="../../at-js-ext/at-angular-directive-0.1.0+common.min.js"></script>
</head>
<body ng-app="sampleApp" ng-init>
<header>
    <div class="container">
        <nav class="teal darken-1">
            <div class="nav-wrapper">
                <div class=" -pad-left1">
                    <a href="../../"><i class="fa fa-home left"></i></a>
                    <a class="brand-logo">ExecuteAjax Example</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li ng-class="{active: isActive('/view1')}"><a href="#view1">View 1</a></li>
                        <li ng-class="{active: isActive('/view2')}"><a href="#view2">View 2</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#view1">View 1</a></li>
                        <li><a href="#view2">View 2</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <blockquote>In the examples below, we have few examples showing how adobe.target.executeAjax looks/works like.<br/>
          Best to check the functionality with DeveloperTools/Network tab opened (and cleared before clicking on buttons)
          with debug enabled (add (?mboxDebug=1) to the address bar )
        </blockquote>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="fa fa-align-justify"></i>Description</div>
                <div class="collapsible-body">
                  <p>
                  <h5 style="padding-left: 1rem">Important:</h5>
                  <ol class="ordered">
                    <li>JSONP: do not include callback parameter in the url, use <strong>jsonp</strong> param.</li>
                    <li>If you are using executeAjax for integration, use it at.js without <strong>autocreate</strong> option.</li>
                    <li>Common usage is to retrieve data and share across all at.js request:
<pre>
adobe.target.executeAjax({
  'url': url,                     // url, success and error params are mandatory
  'type:': 'json|jsonp|script',   // optional, default json
  'method:': 'post|get',          // optional: default get, post only for json request
  'jsonp': 'cb',                  // optional: make sense only for jsonp request
  'success': function(justFetchedData){
    window.targetPageParamsAll = function() {
      return parse3rdPartyProviderData(justFetchedData);
    };

    executeGlobalMbox();
  },
  'error': function(textStatus, errorThrown){
    executeGlobalMbox();
  }
});
</pre>
                    </li>
                  </ol>
                  </p>
                </div>
            </li>
        </ul>

        <div class="row" ng-controller="ExecuteAjaxOptionCtrl">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#test1">JSON</a></li>
              <li class="tab col s3"><a href="#test2">JSONP</a></li>
              <li class="tab col s3"><a href="#test3">SCRIPT</a></li>
            </ul>
          </div>
          <div id="test1" class="col s12">
            <p>
              1. Choose url (to see how valid or invalid endpoint is handled) <br/>
              <div class="input-field col s12">
                <select name="url" ng-model="data.executeAjaxJSON.url">
                  <option value="" disabled>choose url</option>
                  <option ng-repeat="option in urlExamples" value="{{option.value}}">{{option.text}}</option>
                </select>
              </div>

<pre id="test1Id" style="width: 100%; border: 1px solid gray;" class="teal lighten-4">
  // code to be executed:
  adobe.target.executeAjax({
    url: '{{data.executeAjaxJSON.url}}', // chose url from above
    params: {
      "param": "value"
    },
    success: function(data) {
      // log unprocessed data
      window.targetPageParamsAll = function(){
        // log processed data
        return myParser(data);
      };
      executeGlobalMbox();
    },
    error: function(errorStatus) {
      // log error
      executeGlobalMbox();
    }
  });
</pre>

            <button class="btn waves-effect waves-light" ng-click="sendJSONRequest()" ng-disabled="!urlSelected()">2. send JSON request
              <i class="material-icons right">send</i>
            </button>
            </p>
          </div>

          <div id="test2" class="col s12">
            <p>
<pre id="test2Id" style="width: 100%; border: 1px solid gray;" class="teal lighten-4">
  // code to be executed:
  adobe.target.executeAjax({
    url: 'http://isithackday.com/arrpi.php?text=hello&format=json',
    type: 'jsonp',
    params: {
      "param": "value"
    },
    success: function(data) {
      logger.log('executeAjax fetched some data:\n' + JSON.stringify(data));
    },
    error: function(errorStatus) {
      logger.log('executeAjax error : ' + errorStatus);
    }
  });
</pre>
            <button class="btn waves-effect waves-light" ng-click="sendJSONPRequest()">1. send JSONP request
              <i class="material-icons right">send</i>
            </button>

            </p>
          </div>

          <div id="test3" class="col s12">
            <p>
<pre id="test3Id" style="width: 100%; border: 1px solid gray;" class="teal lighten-4">
  // code to be executed:
  // log value of (global) zzz;
  adobe.target.executeAjax({
    url: 'responses/example.js',
    type: 'script',
    params: {
      "param": "value"
    },
    success: function(data) {
      logger.log('executeAjax fetched some data:' + JSON.stringify(data));
      logger.log('value of (global) zzz: ' + JSON.stringify(zzz));
    },
    error: function(errorStatus) {
      logger.log('executeAjax error : ' + errorStatus);
    }
  });
</pre>
            <button class="btn waves-effect waves-light" ng-click="sendScriptRequest()">1. send SCRIPT request
              <i class="material-icons right">send</i>
            </button>
            </p>
          </div>

        </div>
    </div>
</main>
<script src="js/directive-example.js"></script>
<script src="../../store/js/widgets.js"></script>
<script>
function myParser(data) {
  return {
    'parsedParam1' : '(parsed) ' + data['param1'],
    'parsedParamZ' : '(parsed) ' + data['paramZ']
  }
}

function showDocument(logger){
  document.documentElement.style.display = 'block';
  document.documentElement.style.visibility = 'visible';
  logger.log('showDocument');
}

function executeGlobalMbox(logger) {
  adobe.target.getOffer({
    "mbox": "target-global-mbox",
    "success": function(offer) {
      logger.log('getOffer(): fetch global mbox offer: success');
      adobe.target.applyOffer({offer:offer});
      showDocument(logger);
    },
    "error": function(status, error) {
      logger.log('getOffer(): fetch global mbox offer:' + error );
      showDocument(logger);
    }
  });
}

$(function() {
  $('ul.tabs').tabs();
  $('select').material_select();
});
</script>
</body>
</html>
