<div class="card-content white-text" id="view2">
    <span class="card-title">profile 2</span>

    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s3">
                <img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=avatar2&w=100&h=100" alt=""
                     class="circle ">
            </div>
            <div class="col s9">
                <span class="black-text ">
                    {{message}}
                    <div style="border-top: 1px solid lightblue;padding: 10px">
                        <div class="offer">
                            We glad you are here.
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
