<div class="card-content white-text" id="view1">
    <span class="card-title">profile 1</span>

    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s3">
                <img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=avatar1&w=100&h=100" alt=""
                     class="circle ">
            </div>
            <div class="col s9">
                <span class="black-text ">
                    {{message}}
                    <div class="offer">
                        <h2>Welcome</h2>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
